:root {
    --color-primary: #434455;
    --color-hero-button: #fff;
    --color-hero-button-bg: #4D5AE5;
    --color-secondary: #2E2F42;
    --color-hero-hover: #404BBF;
    --color-card-bg: #F4F4FD;
    --color-filter-bg: #E7E9FC;
    --color-subtle-text: #8E8F99;
    --color-success: #31D0AA;
    --transition-250: 250ms, cubic-bezier(0.4, 0, 0.2, 1);


}

/* Basic */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    width: 100%;
        max-width: 1158px;
        /* margin: 0 auto;  */
        padding: 0 15px;
    margin-right: auto;
        margin-left: auto;
}




body {
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: var(--color-hero-button);
    margin: auto;
}

 a {
    
    text-decoration-line: none;
} 


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
  }

  .container {
      max-width: 428px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
  }

  @media screen and (min-width: 768px) {
      .container {
          max-width: 768px;
      }
  }

  @media screen and (min-width: 1158px) {
      .container {
          max-width: 1158px;
      }
  }

/* Logo */

.logo-text {
    font-family: 'Raleway', san-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.logo-color-dark {
    color: var(--color-hero-button-bg);
}

.logo-color-light {
    color: var(--color-card-bg);
}


/* Header */

.top-menu {
    background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--color-secondary);
    text-decoration-line: none;
    font-style: normal;
    padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    

}

.header-nav-link.current {
    color: var(--color-hero-hover);
}
.header-nav-link.current::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    color: var(--color-hero-hover);
    background-color: var(--color-hero-button-bg);
    border-radius: 2px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header-nav-link:hover, .header-nav-link:focus {
    color: var(--color-hero-button-bg);
    
}

.header-contacts {
    font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: var(--color-secondary);
        text-decoration-line: none;
        font-style: normal;
        padding-top: 24px;
            padding-bottom: 24px;
            display: block;
            transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:hover, .header-contacts:focus {
    color: var(--color-hero-button-bg);
    
}

.header-container {
    display: flex;
    align-items: center;

    
}

.header-nav {
    display: flex;
    align-items: center;
    margin-left: 76px;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-address-list {
    margin-left: auto;
}

.header-address-list-items {
    display: flex;
    gap: 40px;

}

/* Header media */

@media screen and (max-width: 767px) {

    .header-address-list {
        display: none;
    }

    .header-nav-link {
        display: none;
    }

    .logo-text {
        padding-top: 24px;
            padding-bottom: 24px;
    }
    
    .header-container {
        justify-content: space-between;
    }

         .button-burger {
            
            background: transparent;
            border: 0px;
             
         }
         .burger-icon-svg {
            display: inline-block;
                width: 1em;
                height: 1em;
                stroke-width: 0;
                
                fill: currentColor;
            stroke: #2E2F42;
         }

         .js-open-modal {
            padding: 0;
            border: none;
            background-color: transparent;
         }
     
}

@media screen and (min-width: 768px) {
    .js-open-modal {
        display: none;
    }
}

/* Hero */


.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-hero-button);
    max-width: 498px;
    
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}

.hero {

    
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: var(--color-secondary);
        max-width: 1440px;
        margin: 0 auto;

        
       
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-hero-button);
    background-color: var(--color-hero-button-bg);
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    background: var(--color-hero-button-bg);
border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-hero-hover);
    
}





/* Legend */




.legend-item-list {
    padding: 120px 0;
    justify-content: space-between;
        
       

}

.legend-item-container {
    display: flex;
    gap: 24px;
    
}

.section-title {
    
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        color: var(--color-secondary);
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 72px;
}

.target-list-img {
   display: flex;
   justify-content: center;
   gap: 24px;
}

.target-list-card {
    flex-basis: calc(100% / (4-24px));
}

.target-list {
    padding-bottom: 120px;
}

.section-card-title {
color: var(--color-secondary);
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
   
}

.target-list-icon-card {
    background-color: var(--color-card-bg);
    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.target-list-icons {
    
    width: 64px;
    height: 64px;
}

/* Our Team */



.our-team-container {
    padding: 100px 0;
    background-color: var(--color-card-bg);
    
}


.team-cards-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    
}

.team-card-text {
    padding: 32px 16px;
    text-align: center;
}

/* .team-card-img {
    margin-bottom: ;
} */

.our-team-text {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.skills-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    
}

.section-title-team {
    margin-top: 120px;
}

.team-card {
    text-align: center;

}

/* Social Icons */


.social-icons-item {
    width: 40px;
    height: 40px;
    
}

.social-icons {
    width: 16px;
        height: 16px;
        fill: var(--color-card-bg);
}
.social-icons-list {
    display: flex;
    margin-top: 8px;
    gap: 24px;
    align-items: center;
    justify-content: center;
} 

.footer-social-icons-list {
    display: flex;
    margin-top: 8px;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.social-icons-link {
    width: 100%;
    height: 100%;
    display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--color-hero-button-bg);
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
    
        background-color: var(--color-hero-hover);
        
}

.section-card-box {
    background-color: var(--color-hero-button);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-icons {
    width: 16px;
    height: 16px;
    fill: var(--color-card-bg);
}

.footer-social-icons {
   
width: 24px;
    height: 24px;
        fill: #F4F4FD;
}
.footer-social-icons-link {
    width: 100%;
    height: 100%;
    display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-item {
    width: 40px;
    height: 40px;
    
}

.footer-social-icons-link:hover, 
.footer-social-icons-link:focus {
    background-color: var(--color-success);
    
}



/* Customers */



.customers {
    padding: 130px 0px;
}
.customers-list {
    display: flex;
    gap: 24px;
}

.customers-list-item {
    width: 168px;
    height: 88px;
    /* border: 1px solid var(--color-subtle-text);
    border-radius: 4px; */
    
}



.customers-list-icon {
    width: 104px;
    height: 56px;
    fill: var(--color-subtle-text);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

 



.customers-icon-link {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid var(--color-subtle-text);
        border-radius: 4px;

        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-link:hover,
 .customers-icon-link:focus 
 {
    border-color: var(--color-hero-hover);

        
      
}

.customers-icon-link:hover .customers-list-icon,
.customers-icon-link:focus .customers-list-icon {
    fill: var(--color-hero-hover);

}

/* Portfolio */

.portfolio-container {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.filter-button {
    background-color: var(--color-card-bg);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--color-hero-hover);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--color-filter-bg);
cursor: pointer;
padding: 12px 24px;
transition-property: background-color, color, border-color, box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, 
.filter-button:focus
 {
    background-color: var(--color-hero-hover);
    color: var(--color-hero-button);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);


    
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-card-link:hover .portfolio-card-overlay-text,
.portfolio-card-link:focus .portfolio-card-overlay-text {
    transform: translateY(0);
}

.portfolio-card-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-hero-button-bg);
    color: var(--color-card-bg);
    padding: 40px 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
  
    transform: translateY(100%);
    transition: transform 250ms;


}

/* .portfolio-card-bg {
    
    
   
} */

.portfolio-card-link {
    background-color: var(--color-hero-button);
    max-width: 360px;
    margin: 0;
        padding: 0;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-card-link:hover .portfolio-card-text,
.portfolio-card-link:focus .portfolio-card-text {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}



.container-footer {
    background-color: var(--color-secondary);
}

.portfolio-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}

.portfolio-card-text {
    padding: 32px 16px;
    border-right: 1px solid var(--color-filter-bg);
    border-left: 1px solid var(--color-filter-bg);
    border-bottom: 1px solid var(--color-filter-bg);
}



/* Footer */



footer {
    background-color: var(--color-secondary);
    color: var(--color-hero-button);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
}
.footer-container {
    
    background-color: var(--color-secondary);
    padding: 100px 0;
}

.footer-flex {
    display:flex;
    gap: 120px;
}
.footer-social-header {
    color: var(--color-hero-button);
    text-align: left;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.5;
    

}

.footer-list 
{
    display: flex;
    gap: 120px;
}

.footer-subscribe-email-button {

    display: inline-flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.footer-subscribe-email-form-input {
    background: none;
    width: 264px;
    height: 40px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--color-hero-button);
    outline: 0;
    padding-left: 16px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
}



.subscribe-items {
    display: flex;
    gap: 24px;
}

.subscribe-submit-button {
    background-color: var(--color-hero-button-bg);
    color: var(--color-hero-button);
    border-radius: 4px;
    border: none;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    cursor: pointer;
}

.subscribe-submit-button:hover,
.subscribe-submit-button:focus {
    background-color: var(--color-hero-hover);
}

.subscribe-icon {
    fill: var(--color-hero-button);
}

/* Header media */

@media screen and (max-width: 1200px) {

    .header-address-list-items {
        display: block;
    }
    .header-contacts {
        padding: 0;
    }

    
}

/*Footer media */

@media screen and (max-width: 767px) 
{
    .footer-flex {
            display: block;
        }
    
    .footer-container {
            display: block;
            padding: 96px 16px;
    
        }

    .footer-logo-description {
        
        margin-bottom: 72px;
    }
    
    .footer-social {
        margin-bottom: 72px;
    } 

    .footer-text {
        margin-left: auto;
        margin-right: auto;
    }

    .subscribe-items {
        display: flex;
        flex-direction: column;
    }

    .subscribe-submit-button {
        width: 165px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-subscribe-email-form-input {
        width: auto;
    }

    .footer-social-header {
        text-align: center;
    }

    .logo-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

    @media screen and (min-width: 768px) {
        .footer-container {
            display: flex;
        }

        .footer-flex {
            display: flex;
            
        }
    }

    @media screen and (max-width: 1200px) {

           .footer-flex {
            flex-wrap: wrap;
            /* padding: 96px 16px; */
            flex-direction: row;
            row-gap: 72px;
            column-gap: 24px;
           }
    }
    





/* .footer-logo {
    margin-bottom: 16px;
} */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* Modal Window */

.backdrop {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-window {
    position: relative;
    width: 100%;
    height: 100%;

    max-width: 408px;
    max-height: 584px;
    background-color: var(--color-hero-button);
   
        border-radius: 4px;

        padding-top: 72px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
    
}

.close-button-icon {
    width: 8px;
    height: 8px;
    fill: #000;
    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close  {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-filter-bg) ;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, 
.modal-close:focus  {
    background-color: var(--color-hero-hover);
    
} 

.modal-close:hover .close-button-icon,
.modal-close:focus .close-button-icon {
    
    fill: #fff;  
} 

.contact-form {
    display: flex;
        flex-direction: column;
        gap: 8px;
    
}



.modal-window-header {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--color-secondary);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;

}

.modal-msg-textarea {
    resize: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-form-label-text {
    display: block;

    font-family: Roboto, sans-serif;
        color: var(--color-subtle-text);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
            letter-spacing: 0.04em;
            margin-bottom: 4px;
            

}




.modal-form-input {
    width: 100%;
        height: 40px;
       outline: none;
        padding: 8px 16px 8px 38px;
        color: var(--color-primary);
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transform: border-color;
        outline: 1;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(33, 33, 33, 0.2);
}

.form-input-wrapper {
    display: block;
    position: relative;
    
}


.modal-form-icon-input {

    position: absolute;
    left:16px;
    width: 18px;
    


    top: 50%;
    transform: translateY(-50%);
       
    
}

.button-mobile-menu {
    fill: #000;
}

.modal-form-input:focus {
border-color: var(--color-hero-button-bg);
}

.modal-form-input:focus + .modal-form-icon-input {
    fill: var(--color-hero-button-bg);
    
}

.form-input-msg {
    width: 100%;
        height: 120px;
        resize: none;
        color: var(--color-primary);
       

        outline: none;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(33, 33, 33, 0.2);
        display: block;
        border-radius: 4px;
        padding: 8px 16px;
        transform: border-color;
}

.form-input-msg::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.form-input-msg:focus {
    border-color: var(--color-hero-button-bg);
}

.checkbox-privacy {
    
        font-size: 12px;
        line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    
    
}

.text-privacy {
    text-decoration: underline;
}

.span-checkbox {
       display: inline-block;
       width: 16px;
       height: 16px;
       border: 1.25px solid var(--color-secondary);
       border-radius: 2px;
    transform: translateY(4px);
}

.checkbox-privacy:checked + .span-checkbox {
    background-color: var(--color-hero-hover);
    border: 1.25px solid var(--color-hero-hover);
    background-image: no-repeat;

    background-size: contain;
    background-image: url(../images/checkbox.svg);
    
}
.checkmark-checkbox {
    height: 8px;
    width: 10px;
}
.flex-checkbox {
    display: flex;
    
    
    
   
}

.form-button {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    
    height: 56px;
    width: 169px;
    font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: var(--color-hero-button);
        background-color: var(--color-hero-button-bg);
        cursor: pointer;
        letter-spacing: 0.04em;
        padding: 16px 32px;
        background: var(--color-hero-button-bg);
        border: 1px solid transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: var(--color-hero-hover);

}






/* Mobile Modal */

.header-nav-link-mobile {
    font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        line-height: 1.1;
        color: var(--color-secondary);
        text-decoration-line: none;
        font-style: normal;

}

.header-tel-mobile {
    font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.1;
        
        text-transform: capitalize;
        color: var(--color-hero-button-bg)
}

.header-contacts-mobile-list {
margin-bottom: 40px;
}
.header-nav-link-mobile.current {
    color: var(--color-hero-hover);
}

.nav-mobile-flex {
height: 100%;
    display: flex;
    flex-direction: column;
    gap: 284px;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;

}

.header-mail-text-mobile {
    font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        
    
        letter-spacing: 0.02em;
    
        
    
        color: var(--color-primary);
}

.social-icons-list-mobile {
display: flex;
    margin-top: 48px;
    gap: 24px;
    
} 

.social-icons-mobile {
    width: 24px;
    height: 24px;
    fill: var(--color-card-bg);
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.overlay {

    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}


/* Стили для модальных окон */

.modal {

    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;


        position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255);
            
            padding: 20px 0;
            transition: opacity 500ms, visibility 500ms;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}


/* Стили для кнопки закрытия */

.js-modal-close {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-filter-bg);
            top: 24px;
            right: 24px;
            height: 24px;
            width: 24px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            transition-property: background-color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

    